*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
}

i{
    color: #CC2424;
    ;
}

footer {
    background-color: #00669F;
    ;
}

.descuentos {
    background-color:#1CD1B0;
    ;
}

.card {
position: absolute;
width: 700px;
height: 406.63px;
left: 610px;
top: 297px;
}