@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#descuento {
  background-color: #1cd1b0;
  height: 23px;
  font-family: 'Roboto';
  font-size: 15px;
}
 
header {
    background-color: #00669F;
   height: 80px;
   
  
}

img {
    display: inline-block;
   
}

h1 {
    display: inline-block;
    color: white;
    font-family: 'Roboto';
}



.formulario {
   display: flex;
   justify-content: center;/* centra en el eje x*/
   align-items: center; /*centra en el eje y*/
   height: 785px;
flex-direction: column;
  
   

}
.form {
    display: flex;
    justify-content: center;
  flex-direction: column;


}


#login {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 72px;
    margin: 18px;
    margin-left: -415px;
    
}


.cuadroForm {
    height: 60px;
    width: 620px;
}

.contenedor-input {
    margin: 20px;
}
.btn {
    background-color:#1CD1B0 ;
    color:black;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    font-family: 'Karla', sans-serif;
}
.contenedor-btn {
    width: 620px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

footer {
    background-color: #00669F;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
  padding: 18px;
    text-align: center;
    height: 50px;
}